xsds/TrainingPlan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Karl Trout (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="trainingPlan" targetNamespace="trainingPlan" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="TrainingPlan">
		<xs:annotation>
			<xs:documentation>the Root Element for a training plan object </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Athlete" type="ns1:Athlete"/>
				<xs:element name="PhaseStrategy" type="ns1:IPhaseStrategyType"/>
				<xs:element name="TrainingCalendar" type="ns1:ICalendarType"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Athlete">
		<xs:annotation>
			<xs:documentation>The Athlete details. holds basic athlete information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="firstName" type="xs:string" nillable="false"/>
			<xs:element name="lastName" type="xs:string" nillable="false"/>
			<xs:element name="dateOfBirth" type="xs:date" nillable="false"/>
			<xs:element name="age" type="xs:int" nillable="false"/>
			<xs:element name="weight" type="xs:int" nillable="false"/>
			<xs:element name="keyPerformanceIndicators">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KPI" type="ns1:IKPIType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="MonthType">
		<xs:annotation>
			<xs:documentation>Month details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="monthName" type="xs:string"/>
			<xs:element name="year" type="xs:int"/>
			<xs:element name="monthId" type="xs:int"/>
			<xs:group ref="ns1:weeks"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="trainingPlanId" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="WeekType">
		<xs:annotation>
			<xs:documentation>Week details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trainingPlanWeek" type="xs:int"/>
			<xs:element name="trainingType"/>
			<xs:group ref="ns1:days"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="parentId" type="xs:string"/>
		<xs:attribute name="weekNumber" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="DayType">
		<xs:annotation>
			<xs:documentation>Day Details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="date" type="xs:date" nillable="false"/>
			<xs:element name="details" type="ns1:dayDetails"/>
			<xs:group ref="ns1:workouts"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="parentId" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="IWorkoutType">
		<xs:annotation>
			<xs:documentation>Workout Type is an iterface for different workouts. the sportsType, intensity and duration is required.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="intensity" type="xs:double"/>
			<xs:element name="volume" type="xs:double"/>
			<xs:element name="duration" type="xs:int"/>
			<xs:element name="description" type="xs:string"/>
			<xs:group ref="ns1:exercise"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="parentId" type="xs:string"/>
		<xs:attribute name="sportType" type="ns1:sportTypes" use="optional" default="Other"/>
	</xs:complexType>
	<xs:complexType name="IPhaseStrategyType">
		<xs:annotation>
			<xs:documentation>Phase Strategy. this can be extended to be any type of phase with multiple subphases if nessissary. Itenesity and duration is required</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="phaseStrategyName" type="xs:string"/>
			<xs:element name="phaseStrategyDescription" type="xs:string" nillable="false"/>
			<xs:element name="IntensityFactor" type="xs:double"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date"/>
			<xs:element name="duration" type="xs:duration"/>
			<xs:group ref="ns1:phases"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="parentId" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PhaseType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date"/>
			<xs:element name="phaseName" type="xs:string" nillable="false"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="intensity" type="xs:double"/>
			<xs:element name="duration" type="xs:duration"/>
			<xs:choice>
				<xs:group ref="ns1:phases" minOccurs="0" maxOccurs="unbounded"/>
				<xs:group ref="ns1:workouts"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="parentId" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ICalendarType">
		<xs:annotation>
			<xs:documentation>Represents the trainingCalendar can be arbitrrily long. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numberOfMonths" type="xs:int"/>
			<xs:element name="numberOfWeeks" type="xs:int"/>
			<xs:element name="numberOfDays" type="xs:int"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date"/>
			<xs:group ref="ns1:months"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="parentId" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="IKPIType">
		<xs:annotation>
			<xs:documentation>hold the list of test values for a particular sportsType. contains measurement types and values</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SportsType" type="ns1:sportTypes" default="Other"/>
			<xs:element name="startValue" type="ns1:KpiValueType"/>
			<xs:element name="goalValue" type="ns1:KpiValueType"/>
			<xs:element name="currentValue" type="ns1:KpiValueType"/>
			<xs:element name="Measurement">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="measureType" type="ns1:measureTypes" use="optional" default="pace"/>
							<xs:attribute name="distanceMeasure" type="ns1:distanceMeasures" use="optional" default="meter"/>
							<xs:attribute name="timeMeasure" type="ns1:timeMeasures" default="second"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="kpiRecords">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="kpiRecord" type="ns1:KpiValueType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="parentId"/>
		<xs:attribute name="id" use="required"/>
	</xs:complexType>
	<xs:complexType name="dayDetails">
		<xs:annotation>
			<xs:documentation>extensible day details which should be measureable and trackable.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wakeupTime" type="xs:time"/>
			<xs:element name="sleepQuality" type="xs:int" default="0"/>
			<xs:element name="energyLevel" type="xs:int" default="0"/>
			<xs:element name="moodLevel" type="xs:int"/>
			<xs:group ref="ns1:nutrition"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KpiValueType">
		<xs:annotation>
			<xs:documentation>measurable value Recorded in meters per second.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="valueDate" type="xs:dateTime"/>
		<xs:attribute name="workoutId" type="xs:string"/>
		<xs:attribute name="value" type="xs:decimal"/>
	</xs:complexType>
	<xs:group name="weeks">
		<xs:sequence>
			<xs:element name="WeekType" type="ns1:WeekType" maxOccurs="6"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="days">
		<xs:sequence>
			<xs:element name="DayType" type="ns1:DayType" maxOccurs="7"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="months">
		<xs:sequence>
			<xs:element name="MonthType" type="ns1:MonthType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="workouts">
		<xs:sequence>
			<xs:element name="WorkoutType" type="ns1:IWorkoutType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="phases">
		<xs:sequence>
			<xs:element name="phase" type="ns1:PhaseType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="sportTypes">
		<xs:annotation>
			<xs:documentation>array of measureable sports types </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Strength"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Race"/>
			<xs:enumeration value="Day Off"/>
			<xs:enumeration value="Swim"/>
			<xs:enumeration value="Bike"/>
			<xs:enumeration value="Run"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="distanceMeasures">
		<xs:annotation>
			<xs:documentation>distance value multiplier. values recorded in meters per sec.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="kilometer"/>
			<xs:enumeration value="meter"/>
			<xs:enumeration value="mile"/>
			<xs:enumeration value="yard"/>
			<xs:enumeration value="feet"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timeMeasures">
		<xs:annotation>
			<xs:documentation>time value multiplier. values recorded in meters per sec.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="hour"/>
			<xs:enumeration value="minute"/>
			<xs:enumeration value="second"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="measureTypes">
		<xs:annotation>
			<xs:documentation>pace: time per distance; speed: distance per time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="speed"/>
			<xs:enumeration value="pace"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExtensionType">
		<xs:sequence>
			<xs:element name="Extension" type="xs:anyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExerciseType" abstract="false">
		<xs:sequence>
			<xs:element name="intensity" type="xs:double"/>
			<xs:element name="duration" type="xs:int"/>
			<xs:element name="volume" type="xs:double"/>
			<xs:element name="focus" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="sportType" type="ns1:sportTypes"/>
			<xs:element name="Extensions" type="xs:anyType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="parentId" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:group name="exercise">
		<xs:sequence>
			<xs:element name="Exercise" type="ns1:ExerciseType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="WeightLiftingExtension">
		<xs:sequence>
			<xs:element name="exerciseName"/>
			<xs:element name="muscleGroup" type="xs:string"/>
			<xs:element name="secondaryMuscleGroup" type="xs:string"/>
			<xs:sequence>
				<xs:element name="step" type="xs:string" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:element name="repitions" type="xs:int"/>
			<xs:element name="sets" type="xs:int"/>
			<xs:element name="weight" type="xs:double"/>
			<xs:element name="oneRepMax" type="xs:double"/>
			<xs:element name="restInterval" type="xs:double"/>
		</xs:sequence>
		<xs:attribute name="plan" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>true if this is a planned workout, false if this is an actual workout. data for planed workout is scheduled not planned is actual work done</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="xs:date"/>
	</xs:complexType>
	<xs:group name="nutrition">
		<xs:sequence>
			<xs:element name="protein" type="xs:int"/>
			<xs:element name="fats" type="xs:int"/>
			<xs:element name="carbohydrates" type="xs:int"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="WeightLiftingExerciseDataBase">
		<xs:sequence>
			<xs:element name="exercise" maxOccurs="unbounded">
				<xs:complexType mixed="0">
					<xs:complexContent>
						<xs:extension base="ns1:ExerciseType">
							<xs:sequence>
								<xs:element name="WeightLiftingExtension" type="ns1:WeightLiftingExtension"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WeightLiftingDatabase">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:WeightLiftingExerciseDataBase"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
